%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2015 T. R. Burghart.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{erl_opts,  [
    debug_info,
    report,
    verbose,
    warn_deprecated_function,
    warn_deprecated_type,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors,
    {src_dirs, ["src"]},

    % Starting with OTP-17, erlang:system_info(otp_release) returns just
    % the major release (with no 'R' prefix), which coincides nicely with
    % the move of non-primitive types into their respective namespaces.
    {platform_define, "^R[1-9]", no_otp_namespaced_types},

    % The switch to crypto:hash occurred in R16, which makes picking it up
    % a little bit trickier, but still manageable. I'm not bothering to
    % recognize releases before R10, and most code would probably break
    % before going back even that far. Still, unlike the types, this will
    % just plain not run on mismatched versions, another reason to move to
    % parse_transforms ...
    %
    {platform_define, "^R1[0-5]", no_otp_crypto_hash}
]}.

{eunit_compile_opts, []}.

{eunit_opts,        [verbose]}.

% Cover prior to OTP-17 blows up on ... something, even though eunit itself
% is happy. Not yet debugged, may never be.
{cover_enabled,     false}.

{clean_files,       ["ebin/*", "doc/*"]}.

{edoc_opts,         [{preprocess, true}]}.
